@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Poppins';
}

.color-blue {
  color: #6070FF;
}