@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Universal selector and body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Header section */
header {
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* Intro section */
#intro-section {
  background-image: url(/images/header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#intro-section h1 {
  font-size: 40px;
  line-height: 52px;
}

#intro-section p {
  font-size: 16px;
  line-height: 24px;
}

/* Work Section */

#work-section {
  padding: 150px 20px 100px 20px;
  display: grid;
  gap: 100px;
  background-color: #e5e5e5;
}

.card {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card > h3 {
  font-size: 32px;
}

.work-item-bar {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 13px;
}

.work-item-bar > ul {
  color: gray;
  font-size: 16px;
  display: flex;
  gap: 25px;
}

.card > p {
  line-height: 24px;
  font-size: 18px;
}

.stackbar {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.stackbar-item {
  padding: 4px 12px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
}

/* About Section */
#about-section {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#about-section > h2 {
  font-size: 40px;
  line-height: 40px;
}

#languages-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#languages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

#languages {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

#languages li {
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  gap: 15px;
  border-radius: 8px;
}

#frameworks-header, #skills-header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 30px 10px;
  border-bottom: 1px solid #def1e6;
}

/* General */
h4 {
  font-size: 20px;
  font-weight: 500;
}

.color-blue {
  color: #6070ff;
}

.color-dark-blue {
  color: #172b4d;
}

.color-dark {
  color: #344563;
}

.color-gray {
  color: #7a869a;
}

.dot {
  background-color: #7a869a;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
}

/* Components and Buttons */

.button-style-1 {
  width: max-content;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  padding: 12px;
  font-size: 17px;
}

.button-style-1:hover {
  background-color: #6070ff;
  color: #fff;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.social-media > li > img {
  width: 25px;
}
